<div class="container-md car-table">


  <div class="mx-5 py-5">
    <div class="row">
      <div class="col-10"></div>
      <div class="col border text-center border-dark menu-button">Dodaj samochód</div>
    </div>
  </div>

  <!-- tabela -->

  <div class="mx-5 pb-5">
    <div class="row">
      <div class="col border border-dark">Lista samochodów</div>
    </div>
    <div class="row">
      <div class="col border border-dark text-start">Id</div>
      <div class="col border border-dark text-start">Nazwa</div>
      <div class="col border border-dark text-start">Producent</div>
      <div class="col border border-dark text-start">Data produkcji</div>
      <div class="col border border-dark text-start">Typ nadwozia</div>
      <div class="col border border-dark text-start">Typ skrzyni</div>
      <div class="col border border-dark text-start">Ilość miejsc</div>
      <div class="col border border-dark text-start"></div>
    </div>
    <div class="row">
      <div class="col border border-dark text-end">1</div>
      <div class="col border border-dark text-start">Maluszek</div>
      <div class="col border border-dark text-start">Fiat</div>
      <div class="col border border-dark text-center">21-03-2022</div>
      <div class="col border border-dark text-center text-uppercase">suv</div>
      <div class="col border border-dark text-center text-uppercase">auto</div>
      <div class="col border border-dark text-center">2</div>
      <div class="col border border-dark text-center menu-button">Usuń</div>
    </div>
    <div class="row">
      <div class="col border border-dark text-end">2</div>
      <div class="col border border-dark text-start">Porszę</div>
      <div class="col border border-dark text-start">Porsche</div>
      <div class="col border border-dark text-center">12-02-2011</div>
      <div class="col border border-dark text-center text-uppercase">cabrio</div>
      <div class="col border border-dark text-center text-uppercase">auto</div>
      <div class="col border border-dark text-center">4</div>
      <div class="col border border-dark text-center menu-button">Usuń</div>
    </div>
    <div class="row">
      <div class="col border border-dark text-end">3</div>
      <div class="col border border-dark text-start">Reno</div>
      <div class="col border border-dark text-start">Renault</div>
      <div class="col border border-dark text-center">15-05-1995</div>
      <div class="col border border-dark text-center text-uppercase">sedan</div>
      <div class="col border border-dark text-center text-uppercase">manual</div>
      <div class="col border border-dark text-center">6</div>
      <div class="col border border-dark text-center menu-button">Usuń</div>
    </div>
    <div class="row">
      <div class="col border border-dark text-end">4</div>
      <div class="col border border-dark text-start">Mjata</div>
      <div class="col border border-dark text-start">Mazda</div>
      <div class="col border border-dark text-center">13-02-1987</div>
      <div class="col border border-dark text-center text-uppercase">sedan</div>
      <div class="col border border-dark text-center text-uppercase">manual</div>
      <div class="col border border-dark text-center">2</div>
      <div class="col border border-dark text-center menu-button">Usuń</div>
    </div>
    <div class="row">
      <div class="col border border-dark text-end">5</div>
      <div class="col border border-dark text-start">Traktor</div>
      <div class="col border border-dark text-start">Subaru</div>
      <div class="col border border-dark text-center">09-01-1992</div>
      <div class="col border border-dark text-center text-uppercase">suv</div>
      <div class="col border border-dark text-center text-uppercase">auto</div>
      <div class="col border border-dark text-center">2</div>
      <div class="col border border-dark text-center menu-button">Usuń</div>
    </div>
    <div class="row">
      <div class="col border border-dark text-end">6</div>
      <div class="col border border-dark text-start">Lambo</div>
      <div class="col border border-dark text-start">Lamborghini</div>
      <div class="col border border-dark text-center">05-07-1999</div>
      <div class="col border border-dark text-center text-uppercase">suv</div>
      <div class="col border border-dark text-center text-uppercase">auto</div>
      <div class="col border border-dark text-center">4</div>
      <div class="col border border-dark text-center menu-button">Usuń</div>
    </div>
    <div class="row">
      <div class="col border border-dark text-end">70</div>
      <div class="col border border-dark text-start">Merc</div>
      <div class="col border border-dark text-start">Mercedes</div>
      <div class="col border border-dark text-center">30-11-2001</div>
      <div class="col border border-dark text-center text-uppercase">cabrio</div>
      <div class="col border border-dark text-center text-uppercase">manual</div>
      <div class="col border border-dark text-center">4</div>
      <div class="col border border-dark text-center menu-button">Usuń</div>
    </div>
    <div class="row">
      <div class="col border border-dark text-end">15</div>
      <div class="col border border-dark text-start">Beta</div>
      <div class="col border border-dark text-start">BMW</div>
      <div class="col border border-dark text-center">01-12-2002</div>
      <div class="col border border-dark text-center text-uppercase">sedan</div>
      <div class="col border border-dark text-center text-uppercase">manual</div>
      <div class="col border border-dark text-center">5</div>
      <div class="col border border-dark text-center menu-button">Usuń</div>
    </div>
    <div class="row">
      <div class="col border border-dark text-end">30</div>
      <div class="col border border-dark text-start">Opelek</div>
      <div class="col border border-dark text-start">Opel</div>
      <div class="col border border-dark text-center">19-08-2011</div>
      <div class="col border border-dark text-center text-uppercase">cabrio</div>
      <div class="col border border-dark text-center text-uppercase">manual</div>
      <div class="col border border-dark text-center">4</div>
      <div class="col border border-dark text-center menu-button">Usuń</div>
    </div>
    <div class="row">
      <div class="col border border-dark text-end">22</div>
      <div class="col border border-dark text-start">Audica</div>
      <div class="col border border-dark text-start">Audi</div>
      <div class="col border border-dark text-center">03-06-2015</div>
      <div class="col border border-dark text-center text-uppercase">sedan</div>
      <div class="col border border-dark text-center text-uppercase">auto</div>
      <div class="col border border-dark text-center">5</div>
      <div class="col border border-dark text-center menu-button">Usuń</div>
    </div>
    <div class="row">
      <div class="col border border-dark text-end">11</div>
      <div class="col border border-dark text-start">Najlepszy</div>
      <div class="col border border-dark text-start">Polonez</div>
      <div class="col border border-dark text-center">03-06-2015</div>
      <div class="col border border-dark text-center text-uppercase">suv</div>
      <div class="col border border-dark text-center text-uppercase">manual</div>
      <div class="col border border-dark text-center">4</div>
      <div class="col border border-dark text-center menu-button">Usuń</div>
    </div>
    <div class="row">
      <div class="col border border-dark text-end">90</div>
      <div class="col border border-dark text-start">Eletele</div>
      <div class="col border border-dark text-start">Tesla</div>
      <div class="col border border-dark text-center">03-06-2015</div>
      <div class="col border border-dark text-center text-uppercase">sedan</div>
      <div class="col border border-dark text-center text-uppercase">manual</div>
      <div class="col border border-dark text-center">3</div>
      <div class="col border border-dark text-center menu-button">Usuń</div>
    </div>
  </div>

  <div class="mx-5 py-5">
    <div class="row">
      <div class="col-10"></div>
      <div class="col">Autor: mail@mail.pl</div>
    </div>
  </div>

</div>
