<div class="container-md">

  <div class="row header-bar">
  </div>

  <div class="row align-items-center header-menu pt-3 pb-3">
    <div class="col">
      LOGO
    </div>
    <div class="col">
      WynajemeX
    </div>
    <div class="col-7">

    </div>
    <div class="col-auto border border-dark text-center menu-button">
      <div>
        Samochody
      </div>
    </div>
    <div class="col-auto border border-dark text-center menu-button">
      <div>
        Wynajem
      </div>
    </div>
    <div class="col-auto border border-dark menu-button">
      <div class="text-center text-nowrap">
        Strona główna
      </div>
    </div>
  </div>

  <div class="row header-bar">
  </div>
</div>
